{
  "singleQuote": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindAttributes": [
    "class",
    "class:",
    "[class]",
    "ngClass",
    "[ngClass]",
    "ngStyle",
    "[ngStyle]",
    "routerLinkActive",
    "[routerLinkActive]"
  ],
  "tailwindFunctions": [
    "signal"
  ]
}
